.werbung {
  position: relative;
  text-align: center;
  max-width: none;
  z-index: 9990; }

.werbung_wetten {
  padding: 10px; }

.werbung object,
.werbung embed {
  max-width: none !important; }

#werbung_superbanner {
  max-width: 1034px;
  position: relative;
  margin: auto;
  z-index: 9990; }

.werbung-skyscraper-container {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 999999; }

.werbung-skyscraper {
  margin-left: 10px;
  z-index: 999999; }

.werbung-skyscraperbtf-container {
  position: absolute;
  top: 2000px;
  left: 100%;
  z-index: 999999; }

.werbung-skyscraperbtf {
  margin-left: 10px;
  z-index: 999999; }

.sky_btf {
  display: none; }

.werbung-billboard {
  margin-top: 10px;
  z-index: 5; }

.werbung-billboard-startseite {
  margin: 10px 0px;
  z-index: 5; }

.werbung-fullsize_contentad {
  margin-top: 10px; }

.werbung-magazine {
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px; }

.werbung-content_spezial {
  margin-top: 10px; }

.werbung-textlink {
  margin-top: 10px; }

.werbung-rectangle1,
.werbung-rectangle2 {
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  overflow-x: hidden;
  margin-bottom: 10px; }

.werbung_superbanner-minheight {
  min-height: 90px;
  background-color: #ccc; }

.box > .werbung-rectangle1,
.box > .werbung-rectangle2 {
  margin: 0;
  border: 0;
  text-align: center; }

#werbung_billboard_btf {
  clear: both; }

@media only screen and (max-width: 767px) {
  .werbung-rectangle1,
  .werbung-rectangle2 {
    padding: 0;
    border: 0;
    background-color: transparent; }
  .werbung-MEW_subnavi {
    margin: 10px 0; }
  #TM_Mobile_MRec3 {
    position: fixed;
    bottom: 0px;
    left: 0; }
  .smartbanner {
    background: #f2f2f2; }
    .smartbanner .smartbanner__exit {
      top: 2px;
      right: 2px;
      left: unset;
      background-color: #1a3151;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 10px; }
      .smartbanner .smartbanner__exit:before, .smartbanner .smartbanner__exit:after {
        background: #fff;
        top: 4px;
        left: 9px;
        width: 2px; }
    .smartbanner .smartbanner__icon {
      left: 10px; }
    .smartbanner .smartbanner__info {
      font-family: "Source Sans Pro", sans-serif;
      left: 80px;
      width: 40%; }
      .smartbanner .smartbanner__info .smartbanner__info__title {
        font-weight: 700;
        margin-bottom: 5px; }
      .smartbanner .smartbanner__info .smartbanner__info__author {
        display: none; }
    .smartbanner .smartbanner__button {
      border: 2px solid #fff;
      background-color: #f2f2f2;
      padding: 5px 10px; }
      .smartbanner .smartbanner__button .smartbanner__button__label {
        color: #00aded;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        font-weight: 700; }
      .smartbanner .smartbanner__button:hover, .smartbanner .smartbanner__button:active, .smartbanner .smartbanner__button:focus {
        text-decoration: none;
        color: #00aded; }
    .smartbanner .smartbanner__exit {
      top: 2px;
      right: 2px;
      left: unset;
      background-color: #1a3151;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 10px; }
      .smartbanner .smartbanner__exit:before, .smartbanner .smartbanner__exit:after {
        background: #fff;
        top: 4px;
        left: 9px;
        width: 2px; }
  .werbung-footer_non_de,
  .werbeplatzhalter-oben {
    z-index: 10; } }
